/* 화면 중앙 정렬 및 배경 */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  /* background: linear-gradient(135deg, #89f7fe, #66a6ff); */
  font-family: 'Noto Sans KR', sans-serif;
}

/* 로그인 박스 */
.login-box {
  background-color: white;
  padding: 40px 50px;
  border-radius: 19px;
  box-shadow: 0 6px 22px #505050;
  width: 350px;
  text-align: center;
  position: relative;
  z-index: 1;
}

/* 뒤로가기버튼 */
.back-btn {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  color: #505050;
}


/* 제목 */
.login-box h2 {
  margin-bottom: 24px;
  color: #333;
  font-weight: 600;
}

/* 입력창 */
.login-box input {
  box-sizing: border-box; /* ✅ padding, border 포함 폭 계산 */
  display: block;
  width: 100%;
  padding: 12px;
  margin-bottom: 18px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 15px;
  transition: border-color 0.3s ease;
}

.login-box input:focus {
  border-color: #b8b8b8;
  outline: none;
}

/* 버튼 */
.login-box button {
  box-sizing: border-box; /* ✅ padding, border 포함 폭 계산 */
  width: 100%;
  padding: 12px;
  margin-bottom: 10px;
  background-color: #505050;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s ease;
}



/* 수평선맞추기 */
.link-container {
  display: flex;
  justify-content: space-between; /* 왼쪽-오른쪽 배치 */
  align-items: center;
  margin-top: 5px;
}


/* 아이디 / 비밀번호 찾기 링크 */
.find-links {
  display: flex;
  justify-content: flex-start;  /* 왼쪽 정렬 */
  align-items: center;
  margin-top: 0px;
  font-size: 14px;
  color: #f0f0f0;
  gap: 5px; /* 링크 사이 간격 */
}

.find-links p {
  text-decoration: none;
  color: #505050;
  transition: color 0.2s ease;
}

.find-links span {
  color: #BCBCBC;
}


/* 모달css */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  align-items: 100px;
  z-index: 1000;
}

.modal-content {
  margin-top: 150px;
  background: white;
  padding: 20px;
  border-radius: 12px;
  max-width: 400px;
  width: 100%;
  position: relative;
  max-height: 80vh;
  overflow-y: auto;

  box-shadow: 0 50px 170px rgba(0,0,0,0.5);
  border: 1px solid #e0e0e0;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background: transparent;
  padding: 5px 10px;
  font-size: 18px;
  cursor: pointer;
}

/* 패스워드 토글 */
.input-container {
  position: relative;
  width: 100%;
}

.input-container input {
  width: 100%;
  padding-right: 40px; /* 토글 버튼 공간 확보 */
}

.toggle-pwd {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-45%);
  background: none;
  border: none;
  cursor: pointer;
  font-size: xx-small;
  user-select: none;
}

/* 로그인 유효성검사 */
button.inactive-btn {
  background-color: #ccc;
  cursor: not-allowed;
  color: #fff;
}

button.active-btn {
  background-color: #505050;
  cursor: pointer;
  color: #fff;
  transition: background 0.3s ease;
}
